<!DOCTYPE html >

<html layout:decorate="_layout"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->


    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">

    <title>Aprenda SQL</title>
</head>
<body>


<div layout:fragment="content">
    <section>

        <div class="conteudo">
            <h2>AND, OR e NOT</h2>
            <p class="bgazul">
                Os operadores <b>AND, OR e NOT</b>, que significam "E, OU, NÃO", são usados com a cláusula WHERE. O
                "AND" trará os resultados onde todas as condições
                separadas pelo "AND" forem verdadeiras. O "OR" trará os resultados onde pelo menos uma das condições
                separadas pelo "OR" for verdadeira. E o "NOT" serve para negar as condições, trazendo o resultado
                "contrário" a condição solicitada.


            </p>
            <h5>Sintaxe de um WHERE AND</h5>


            <div class="exemplo">

                <code>
                    SELECT nome_da_coluna, nome_da_coluna2, ...
                    <br>
                    FROM nome_da_tabela
                    <br>
                    WHERE condição1 AND condição2 AND ... ;
                </code>
            </div>


            <h5>Sintaxe de um WHERE OR</h5>
            <div class="exemplo">

                <code>
                    SELECT nome_da_coluna, nome_da_coluna2, ...
                    <br>
                    FROM nome_da_tabela
                    <br>
                    WHERE condição1 OR condição2 OR ... ;
                </code>
            </div>
            <h5>Sintaxe de um WHERE NOT</h5>
            <div class="exemplo">

                <code>
                    SELECT nome_da_coluna, nome_da_coluna2, ...
                    <br>
                    FROM nome_da_tabela
                    <br>
                    WHERE NOT condição1;
                </code>
            </div>
            <p class="bgbranco"> No exemplo abaixo temos 2 condições separadas pelo AND, a cidade tem que ser "Lagoa Santa" E o nome tem
                que ser "Bruno Ferreira". Só serão exibidos os registros que atendem as DUAS condições.</p>
            <pre class="cm-s-default code exemplo">
SELECT * FROM CLIENTES
WHERE cidadeCliente = 'Lagoa Santa'
AND nomeCliente = 'Bruno Ferreira';</pre>


            <p class="bgbranco"> Agora temos 2 condições separadas pelo OR, a cidade tem que ser "Lagoa Santa" OU o nome tem que ser
                "Bruno Ferreira". Serão exibidos os registros que atendem pelo menos UMA das condições OU as DUAS.</p>
            <pre class="cm-s-default code exemplo">
SELECT * FROM CLIENTES
WHERE cidadeCliente = 'Lagoa Santa'
OR nomeCliente = 'Bruno Ferreira';</pre>

            <p class="bgbranco"> No próximo temos 1 condição com o NOT, a cidade tem que ser DIFERENTE de "Lagoa Santa" pois dissemos que
                o NOT faz o contrário a condição escrita.
                Serão exibidos os registros que tem a cidade diferente de "Lagoa Santa".</p>

            <pre class="cm-s-default code exemplo">
SELECT * FROM CLIENTES
WHERE NOT cidadeCliente = 'Lagoa Santa';</pre>


            <p class="bgbranco"> E finalmente vamos misturar os operadores em uma só Query. Note o uso de '()' (parenteses) e vamos
                entender exatamente o que foi solicitado: Queremos
                os clientes de MG, mas só das cidades Santa Luzia OU Ribeirão das Neves.</p>
            <pre class="cm-s-default code exemplo">
SELECT * FROM CLIENTES
WHERE UFCliente = 'MG'
AND (cidadeCliente = 'Santa Luzia' OR cidadeCliente ='Ribeirão das Neves');</pre>

            <p class="bgbranco">Também podemos misturar o NOT, com AND e OR. Tudo depende do que queremos buscar na tabela!</p>
            <th:block th:insert="tabela"></th:block>

            <div>
                <p class="bgbranco">Quando precisarei usar o distinct? Muitas vezes! Suponha que queremos saber quantas, ou quais,
                    cidades diferentes existem entre os clientes de nossa tabela, faça um select DISTINCT apenas no
                    campo "cidadeCliente". </p>
                <h5>Alguns conceitos importantes</h5>
                <p  class="bgbranco"><b>Case Sensitive</b>: é quando precisamos diferenciar letras maiúsculas de minúsculas para que nosso código funcione. As palavras-chave em SQL NÃO são Case Sensitive. Observe que select é igual a SELECT.
                </p>
                <p  class="bgbranco"><b>Comentários</b>: Ao escrever códigos em SQL podemos criar comentários entre as linhas de código, essa parte não é executada e não causa erros no código. Isso é muito utilizado quando queremos explicar o que pretendemos fazer em determinada parte do código
                    e facilita para que outras pessoas possam ler o código e entender mais claramente no futuro, se necessário.
                    Para criar um comentário de uma linha, coloca-se '-- ' (sem as aspas) antes da linha. Para um comentário de várias linhas, o texto deve estar entre os caracteres '/*' e '*/' sem as aspas. Exemplo: <b>/* texto do comentario em várias linhas */</b>. O editor do APRENDA SQL não suporta comentários no momento.</p>


            </div>
        </div>

    </section>
</div>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>