<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Aprenda SQL</title>
</head>
<body>



<div layout:fragment="content">
    <section>


        <div class="conteudo">
            <h2>SELECT DISTINCT</h2>
            <p class="bgazul">
                O comando <b>SELECT DISTINCT</b>, que significa "selecionar distinto", é usado para buscar informações diferentes (distintas) em uma tabela do BD (banco de dados).
                Alguns registros terão campos com valores iguais, como o campo cidadeCliente, ou UFCliente, na nossa tabela CLIENTES.

            </p>
            <h5>Sintaxe de um SELECT DISTINCT em SQL</h5>
            <div class="exemplo">

                <code>
                    SELECT DISTINCT nome_da_coluna, nome_da_coluna2, ...
                    <br>
                    FROM nome_da_tabela;
                </code>
            </div>
            <p class="bgbranco">   No exemplo abaixo a tabela se chama "CLIENTES" e as colunas que serão exibidas são "cidadeCliente" e "UFCliente". Faça o mesmo comando sem usar a palavra DISTINCT para ver a diferença nos resultados.</p>
            <pre class="cm-s-default code exemplo">
SELECT DISTINCT cidadeCliente, UFCliente
FROM CLIENTES;</pre>

            <p class="bgbranco">O DISTINCT só funciona quando <b>todas</b> as colunas solicitadas tem valores repetidos, se em 2 registros uma das colunas for diferente, e todas as outras forem iguais, será exibido como 2 registros. Se todas as colunas forem iguais, será exibido como 1 registro. </p>
            <th:block th:insert="tabela"></th:block>

            <div>
                <p class="bgbranco">Quando precisarei usar o distinct? Muitas vezes! Suponha que queremos saber quantas, ou quais, cidades diferentes existem entre os clientes de nossa tabela, faça um select DISTINCT apenas no campo "cidadeCliente".  </p>
                <h5>Alguns conceitos importantes</h5>


                    <p  class="bgbranco"><b>Case Sensitive</b>: é quando precisamos diferenciar letras maiúsculas de minúsculas para que nosso código funcione. As palavras-chave em SQL NÃO é Case Sensitive. Observe que select é igual a SELECT.
                    </p>
                    <p  class="bgbranco"><b>SQL Data Types</b>: Data Types significa "tipos de dados". Existem muitos tipos de dados para serem usados em nossos CAMPOS das tabelas. Quando uma tabela é criada deve-se dizer qual o nome da coluna
                        e qual o tipo de dado dessa coluna, além de outras informações que veremos aos poucos. Os tipo de dados podem ser variações do tipo STRING (baseados em texto), NUMÉRICOS (inteiros, decimais, etc), DATE and TIME (Baseados em data e hora / tempo) entre outros.
                         </p>
                    <p  class="bgbranco"><b>Valor NULL</b>: Você deve ter percebido que o SELECT exibe a palavra NULL em algum momento. Quando não há valor em uma coluna específica de um registro, é exibido como "NULL" que significa "nulo". Ao criar um campo podemos defini-lo como NOT NULL, ou seja, o campo torna-se obrigatório pois a tabela não
                    irá aceitar que o mesmo seja vazio em algum registro.</p>
                    <p  class="bgbranco"><b>Comentários</b>: Ao escrever códigos em SQL podemos criar comentários entre as linhas de código, essa parte não é executada e não causa erros no código. Isso é muito utilizado quando queremos explicar o que pretendemos fazer em determinada parte do código
                    e facilita para que outras pessoas possam ler o código e entender mais claramente no futuro, se necessário.
                        Para criar um comentário de uma linha, coloca-se '-- ' (sem as aspas) antes da linha. Para um comentário de várias linhas, o texto deve estar entre os caracteres '/*' e '*/' sem as aspas. Exemplo: <b>/* texto do comentario em várias linhas */</b>. O editor do APRENDA SQL não suporta comentários no momento.</p>


            </div>
        </div>

    </section>
</div>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>