<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>SQL MIN e MAX</title>
</head>
<body>
<div layout:fragment="content">
    <section>


        <div>
                        <th:block th:insert="mensagemValidacao"></th:block>




        </div>

        <div class="conteudo">
            <h2>SQL MIN e MAX</h2>
            <p class="bgazul">
                A função <b>MIN</b> retorna o menor valor da coluna selecionada. E a função <b>MAX</b> retorna o maior.

            </p>
            <h5>Sintaxe da MIN</h5>
            <div class="exemplo">

                <code>
                    SELECT MIN(nome_da_coluna)
                    <br>
                    FROM nome_da_tabela
                </code>
            </div>
            <h5>Sintaxe da MAX</h5>
            <div class="exemplo">

                <code>
                    SELECT MAX(nome_da_coluna)
                    <br>
                    FROM nome_da_tabela
                </code>
            </div>
            <p class="bgbranco">   No exemplo abaixo queremos o menor preço (coluna valorProduto) da tabela PRODUTOS.</p>
            <pre class="cm-s-default code exemplo">
SELECT MIN(valorProduto)
FROM PRODUTOS;</pre>

            <p class="bgbranco">   Agora queremos saber o maior preço.</p>
            <pre class="cm-s-default code exemplo">
SELECT MAX(valorProduto)
FROM PRODUTOS;</pre>


            <p class="bgbranco">Se usarmos essas função em um campo VARCHAR (String) ele retornaria o primeiro nome em ordem alfabética para o MIN e o último nome para o MAX.</b> </p>

            <th:block th:insert="tabela"></th:block>

            <div>
                <p class="bgbranco">Apesar de funcionar em campos STRING essas funções são funções SQL numéricas. Em SQL existem muitas outras funções para vários tipos de dados como string, data, números além de funções como IF ELSE, e etc.</p>
                <h5>Alguns conceitos importantes</h5>


           <p class="bgbranco"><b>Functions SQL</b>: São funções já existentes na linguagem SQL para realizar alguma ação. Existem muitas functions em SQL mas aqui apresentaremos apenas algumas das mais conhecidas.</p>



            </div>
        </div>
    </section>
</div>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>