<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Aprenda SQL</title>
</head>
<body>


<div layout:fragment="content">
    <section>



        <div class="conteudo">
            <h2>O que é um DELETE?</h2>
            <p class="bgazul">
                O comando <b>DELETE FROM</b>, que significa "deletar", é usado para excluir registros em uma tabela do BD.
                Geralmente usamos o WHERE junto com o DELETE para evitar exclusão em MASSA, assim como no UPDATE.

            </p>
            <h5>Sintaxe de um DELETE em SQL</h5>
            <div class="exemplo">

                <code>

                    DELETE FROM nome_da_tabela
                    <br>
                    WHERE condição_desejada;
                </code>
                <br>

            </div>
            <p class="bgbranco">   No exemplo abaixo a tabela se chama CLIENTES e vamos excluir o cliente com id = 2.
                Antes de executar o DELETE, faça um SELECT na tabela CLIENTES e verifique quem é o cliente 2.</p>
            <pre class="cm-s-default code exemplo">
DELETE FROM CLIENTES
WHERE idCliente = 2;</pre>

            <p class="bgbranco">Após executar o DELETE, faça outra vez o SELECT e perceba que o cliente 2 sumiu. </p>
            <th:block th:insert="tabela"></th:block>

            <div>
                <p class="bgbranco">Se não usassemos o WHERE, todos os clientes teriam sido deletados. Faça esse teste, e não se preocupe, nossa base é refeita sempre que atualizar a página. </p>
                <h3>Alguns conceitos importantes</h3>
                <p  class="bgbranco"><b>DELETE</b>: Apesar do nome, não podemos deletar tabelas ou colunas com este comando. Apenas registros de uma tabela específica. Para deletar uma tabela inteira ou uma coluna existe o comando DROP.</p>

            </div>
        </div>
    </section>
</div>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>