<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>SQL INSERT INTO</title>
</head>
<body>



<div layout:fragment="content">
    <section>



        <div class="conteudo">
            <h2>O que é um INSERT?</h2>
            <p class="bgazul">
                O comando <b>INSERT INTO</b>, que significa "inserir", é usado para incluir informações em uma tabela do BD (banco de dados). Geralmente nos referimos ao comando como "INSERT"
                mas a sintaxe correta é INSERT INTO seguido do nome da tabela e os valores desejados conforme o exemplo.

            </p>
            <h5>Sintaxe de um INSERT INTO em SQL</h5>
            <div class="exemplo">

                <code>

                    INSERT INTO nome_da_tabela (nome_da_coluna1,nome_da_coluna2, ...)
                    <br>
                    VALUES ('valor1', 'valor2', ...);
                </code>
               <br>
                <code>

                    <br>
                    INSERT INTO nome_da_tabela
                    <br>
                    VALUES ('valor1', 'valor2', ...);
                </code>
            </div>
            <p class="bgbranco">   No exemplo abaixo a tabela se chama CLIENTES e as colunas que serão inseridas sao "nomeCliente" e "cidadeCliente".
                Antes de executar o INSERT, faça um SELECT na tabela CLIENTES e verifique os campos que ela possui.</p>
            <pre class="cm-s-default code exemplo">
INSERT INTO CLIENTES  (nomeCliente, cidadeCliente)
VALUES ('Maria José', 'Brasília');</pre>

            <p class="bgbranco">Após executar o INSERT, faça outra vez o SELECT e perceba que o campo idCliente será preenchido, mesmo não incluindo este campo na Query.
                Isso ocorre pois o campo idCliente é do tipo INT <b>AUTO_INCREMENT</b> ou seja, é um número inteiro que será preenchido automaticamente, adicionando +1 ao último número registrado.
                O primeiro registro recebe o número 1, o segundo recebe o número 2, e assim por diante. Caso seja passado um ID, conforme exemplo abaixo, também irá funcionar, sem seguir a sequência.</p>
            <pre class="cm-s-default code exemplo">
INSERT INTO CLIENTES  (idCliente, nomeCliente, cidadeCliente)
VALUES (20,'Maria José', 'Brasília');</pre>
            <th:block th:insert="tabela"></th:block>

            <div>
                <p class="bgbranco">Foram mostradas 2 sintaxes diferentes para o INSERT. A primeira com os nomes dos campos e valores. A segunda sem os nomes dos campos. Isso é possível se você inserir os valores na ordem certa em <b>todos</b> os campos
                 da tabela, exceto o campo configurado com AUTO_INCREMENT (geralmente é o id), pois ele será preenchido automaticamente em ordem crescente. </p>
                <h3>Alguns conceitos importantes</h3>
                <p  class="bgbranco"><b>AUTO_INCREMENT</b>: É a sintaxe do MySQL para que uma coluna gere um número automatico, incrementando de 1 em 1, mas para outros BDs a sintaxe e a maneira de fazer isso pode variar, como no SQL SERVER, usa-se o IDENTITY, já no ORACLE, não existe uma palavra-chave para essa configuração. </p>
                <p  class="bgbranco"><b>PRIMARY KEY</b>: Se quisermos escolher o valor do ID na hora de fazer o INSERT, dará certo. Mas se o campo ID for uma PRIMARY KEY (chave primária), este campo não poderá ser repetido. Existem várias formas de não permitir valores repetidos em uma coluna
                de uma tabela. Isso varia de acordo com cada BD. Bem como esse não é o único objetivo de criar uma PRIMARY KEY. A chave primária é o que identifica um único registro em uma tabela e ela pode ser composta por mais de uma coluna! </p>

            </div>
        </div>
    </section>
</div>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>