<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>

</head>
<body>
<div id="mySidenav" class="sidenav">

 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Fechar Menu <span class="glyphicon glyphicon-remove">x</span></a>
 <input class="form-control" type="text" id="mySearch" onkeyup="procurarMenu()" placeholder="procurar.." title="Digite o assunto">
 <ol id="listaMenu">
 <li ><a  href="/index">Início</a></li>
 <li > <a href="/select">Select</a></li>
  <li > <a href="/distinct">Distinct</a></li>
  <li ><a href="/where">Where</a></li>
  <li ><a href="/andornot">And, Or, Not</a></li>
  <li ><a href="/orderby">Order By</a></li>
  <li > <a href="/limit">Limit</a></li>
  <li > <a href="/nullvalues">Is Null</a></li>
 <li > <a href="/insert">Insert</a></li>
 <li > <a href="/update">Update</a></li>
 <li > <a href="/delete">Delete</a></li>
  </ol>
 <ol id="listaMenuOculta" hidden="hidden">
  <li ><a href="/index">index</a></li>
  <li > <a href="/select">select</a></li>
  <li > <a href="/distinct">distinct</a></li>
  <li ><a href="/where">where</a></li>
  <li ><a href="/andornot">andornot</a></li>
  <li ><a href="/orderby">orderby</a></li>
  <li > <a href="/limit">limit</a></li>
  <li > <a href="/nullvalues">nullvalues</a></li>
  <li > <a href="/insert">insert</a></li>
  <li > <a href="/update">update</a></li>
  <li > <a href="/delete">delete</a></li>

 </ol>
</div>
</body>
</html>